/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wes-option-wrapper {
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    line-height: 26px;
    margin: 0 0 10px;
    width: 43%;
}